:root {
  --primary-color: #003f09;
  --secondary-color: #2d5412;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
}

#boxbar ul {
  list-style: none;
}

#boxbar ul li {
  color: #fff;
  display: inline-block;
  padding: 1rem;
  position: relative;
  margin: 120px 0;
}
#boxbar ul li a {
  color: #333;
  text-decoration: none;
}

/* Hide nested ul by default */

#boxbar ul li:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
}

#boxbar ul li:hover a {
  color: #fff;
}

#boxbar ul li ul {
  display: none;
  max-height: 0;
  transition: max-height 2s;
}
/* #boxbar ul li ul li {

} */

/* Nested dropdown show */
#boxbar ul li:hover ul {
  display: block;
  position: absolute;
  left: -100px;
  top: -258px;
  width: 200%;
  margin-top: 1rem;
}
#boxbar ul .boxbar-col-left:hover ul {
  left: 0;
}
#boxbar ul .boxbar-col-right:hover ul {
  left: -100%;
}

#boxbar ul li:hover ul li {
  z-index: 10;
  display: block;
  background: #e9e9e8;
  max-height: 302px;
}

#boxbar ul li:hover ul li a {
  color: #333;
}

#boxbar ul li:hover ul li:hover {
  background: #e0e0e0;
  color: inherit;
}

#boxbar ul li:hover ul li span {
  float: right;
  color: #fff;
  background: var(--primary-color);
  padding: 0.2rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 5px;
}

#boxbar ul li:hover ul li:hover span {
  background: var(--secondary-color);
}

#boxbar {
  height: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #003f09;
}

#boxbar h1 {
  color: #fff;
  font-size: 4rem;
}

@media (max-width: 600px) {
  #boxbar ul li {
    display: block;
  }

  #boxbar ul li:hover ul {
    width: 100%;
    position: relative;
  }
}

.boxbar-col {
  width: 24%;
}
